header {
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  color: white;
  font-family: sans-serif;
}

.form-main {
  display: flex;
  flex-direction: column;
}
.camera-button {
  width: 50vw;
  height: auto;
}